.box-layout {
  align-items: center;;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.box-layout__box {
  border-radius: 3px;
  padding: $l-size $m-size;
  text-align: center;
  width: 25rem;
  background: $green;
  p {
    color: white;
  }
}

.box-layout__title {
  color: white;
  margin: 0 0 $m-size 0;
  line-height: 1;
}
