.button {
  background: $green;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
  &:disabled {
    background: #6993a8;
    opacity: 0.6;
  }
  &:hover {
    background: $dark-green;
  }
}

.welcome-button {
  background: $dark-green;
}

.log-out-button {
  color: white;
  cursor: pointer;
}

.button--link {
  background: none;
}

.button--secondary {
  background: #888;
}
