.content-container {
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 80rem;
}

.all-books_title {
  display: flex;
  align-items: center;
  h1 {
    margin-right: 30px;
  }
}

.review-container {
  display: flex;
  justify-content: space-between;
  .review {
    word-break: break-word;
    text-align: justify;
    max-width: 560px;
  }
  .reviewer {
    width: 160px;
    font-size: 13px;
    font-weight: 400;
    padding-right: 10px;
    &:last-child{
      font-size: 10px;
    }
  }
}