.form {
  display: flex;
  flex-direction: column;
  >* {
    margin-bottom: $m-size;
  }

  &__error {
    color: red;
    margin: 0 0 $m-size 0;
    font-style: italic;
  }

  &__success {
    color: green;
    margin: 0 0 $m-size 0;
    font-style: italic;
  }
}
